.wow{
    text-align: center;
    padding: 13px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
.box{
    border: 5px solid black; 
    width: 350px;
    height:100px; 
    text-align:center;  
     padding:50px;
}
.content-name{
    font-size:20px; 
    font-weight:bold; 
    color:black; 
    margin-top:60px; 
    background-color:#9c88ff;
    border: black;
    border: 5px solid black;
    border-right: none;
    border-top: none;
    margin: 30px;
    float: right;
    margin-right: -50px;
    margin-top: -50px;
    padding: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    width: 100px;
}
.style{
    height: 150px;
    margin: -50px;
    padding: 0%;
    padding-top: 55px;
    background-color: rgba(0,0,0,0.3);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: initial;
    padding-left: 6px;
    
}
.box2{
    border: 5px solid black; 
    width: 350px;
    height:100px; 
    text-align:center;  
     padding:50px;
     margin: 440px;
     margin-top: -160px;
     float: left;
}

.content-namex{
    font-size:20px; 
    font-weight:bold; 
    color:black; 
    margin-top:60px; 
    background-color:#e84118;
    border: black;
    border: 5px solid black;
    border-right: none;
    border-top: none;
    margin: 30px;
    float: right;
    margin-right: -50px;
    margin-top: -50px;
    padding: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    width: 100px;
}
.style2{
    height: 150px;
    margin: -50px;
    padding: 0%;
    padding-top: 55px;
    background-color: rgba(0,0,0,0.3);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: initial;
    padding-left: 6px;
    
}
.box3{
    border: 5px solid black; 
    width: 350px;
    height:100px; 
    text-align:center;  
     padding:50px;
     margin: 940px;
     margin-top: -650px;
     float: left;
}

.content-namea{
    font-size:20px; 
    font-weight:bold; 
    color:black; 
    margin-top:60px; 
    background-color:#D980FA;
    border: black;
    border: 5px solid black;
    border-right: none;
    border-top: none;
    margin: 30px;
    float: right;
    margin-right: -50px;
    margin-top: -50px;
    padding: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    width: 100px;
}
.style3{
    height: 150px;
    margin: -50px;
    padding: 0%;
    padding-top: 55px;
    background-color: rgba(0,0,0,0.3);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: initial;
    padding-left: 6px;
    
}

